<section id="top-movies-link">
    <%= button_to "Find Top-Rated Movies", movies_top_rated_path, method: :get %>
</section>
<section class="find-movies">
  <%= form_with(url: movies_search_results_path, method: "get", local: true) do %>
    <%= label_tag(:query, "Search All Movies: ") %>
    <%= text_field_tag(:query) %>
    <br>
    <%= submit_tag("Find Movies") %>
  <% end %>
</section>
<% if @results %>
  <section class="all-search-results">
    <ul>
      <% @results.each do |movie| %>
        <div class="result">
          <p>Title: <%= link_to "#{movie.title}", movie_show_path(id: movie.id), method: :get %></p>
          <p>Average rating: <%= movie.vote_average %></p>
          <br>
        </div>
      <% end %>
  </section>
<% end %>
