<%= render partial: "/partials/nav_bar" %>
<br>
<section class="find-movies"
  <%= form_with(url: movies_search_path, method: "get") do %>
  <%= label_tag(:query, "Search for: ") %>
  <%= text_field_tag(:query) %>
  <br>
  <%= submit_tag("Find Movies") %>
  <% end %>
</section>
<br>
