<h1><%= @movie.title %></h1>
<h3><%= @movie.tagline %></h3>
<p class="tag-line"><%= @movie.release_date %></p>
<p class="vote-average"><%= @movie.vote_average %></p>
<p class="runtime"><%= @movie.runtime %></p>
<p class="genre"><%= @movie.genre %></p>
<p class="overview"><%= @movie.overview %></p>
<section class="first-10-cast">
  <% @movie.first_10_cast.each do |cast_member| %>
    <%= cast_member.name %>
    <%= cast_member.character %>
  <% end %>
</section>
<p class="tag-line"><%= @movie.review_count %></p>
<section class="tag-line">
  <% @movie.reviews.each do |review| %>
    <%= review.author %>
    <%= review.body %>
  <% end %>
</section>


<!-- expect(page).to have_css('.title')
expect(page).to have_css('.tag-line')
expect(page).to have_css('.vote-average')
expect(page).to have_css('.runtime')
expect(page).to have_css('.genre')
expect(page).to have_css('.description-summary')
expect(page).to have_css('.first-10-cast')
expect(page).to have_css('.review-count')
expect(page).to have_css('.reviews') -->
