<h1><%= @movie[:title] %></h1>
<h3><%= @movie[:tagline] %></h3>
<%= @movie[:release_date] %><br>
<%= @movie[:overview] %><br><br>

<%= button_to "Create Viewing Party", new_viewing_party_path(id: @movie[:id]), method: :get %>
