<%= button_to "Top Rated Movies", top_rated_path, method: :get %>

<section class="form">
  <%= form_with(url: search_path, method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Find Movies") %>
  <% end %>
</section>

<h1>Top Rated Movies </h1>

<table class = "movies" >
  <tr>
    <th> Movie Name </th>
    <th> Vote Average </th>
    <th> Summary </th>
    <th> Poster </th>
  </tr>
<% @movies.each do |movie| %>
  <tr>
    <td><%= link_to "#{movie[:title]}", movie_show_path(id: movie[:id]) %></td>
    <td><%= movie[:vote_average] %></td>
    <td><%= movie[:overview] %></td>
    <td><%= movie[:poster_path] %></td>
  </tr>
<% end %>
</table>
