<% if current_user %>
  <section class ="movies">
    <%= button_to "Discover Movies", movies_discover_path, method: :get %>
  </section>
  <section class ="friends">
    <br><h3>Friends</h3>
    <% current_user.friends.each do |friend| %>
      <%= friend.first_name%>
    <% end %>
    </section>

  <section class ="viewing_parties">
    <br><h3>Viewing Parties</h3>
    <h4>Parties you have been invited to:</h4><br>
    <% Invitee.parties_user_is_invited_to(current_user).each do |party| %>
      Movie: <%= party.movie_title %><br>
      When: <%= party.when %><br>
      Lenght: <%= party.length %> <br>
    <% end %>
  </section>
  <section class="log-out">
    <%= link_to "Logout", logout_path %>
  </section>
<% end %>
