<% if current_user %>
  <section class ="movies">
    <%= button_to "Discover Movies", movies_discover_path, method: :get %>
  </section>
  <section class ="friends">
    <br><h3>Friends</h3>
    <% if current_user.friends.empty? %>
      <%= "Add Friends and Create Viewing Parties!" %>
    <% else %>
      <% current_user.friends.each do |friend| %>
        <%= friend.first_name%>
        <% end %>
    <% end %>
    </section>

  <section class ="viewing_parties">
    <br><h3>Viewing Parties</h3>
    <% unless Invitee.parties_user_is_invited_to(current_user).empty? %>
      <h4>Parties you have been invited to:</h4>
      <% Invitee.parties_user_is_invited_to(current_user).each do |party| %>
        Movie: <%= party.movie_title %><br>
        When: <%= party.when %><br>
        Length: <%= party.length %> <br>
      <% end %>
    <% end %>

    <% unless ViewParty.find_user_view_parties(current_user).empty? %>
    <h4>Your Viewing Parties</h4>
      <% ViewParty.find_user_view_parties(current_user).each do |party| %>
        Movie: <%= party.movie_title %><br>
        When: <%= party.when %><br>
        Length: <%= party.length %><br>
      <% end %>
    <% end %>

  </section>
  <section class="log-out">
    <%= link_to "Logout", logout_path %>
  </section>
<% end %>
