<h1>Covid Viewing</h1>

<section class="description">
  <p>Welcome to Covid Viewing! Your favorite site for finding your next covid watch party movie, and scheduling a time to watch it with all your friends!</p>
</section>
<%= render partial: "/partials/nav_bar" %>
<% if current_user %>
  <p>
    Welcome <%= "#{current_user.first_name} #{current_user.last_name}!" %>
  </p>

  <section class ="friends">
    <br><h3>Friends</h3>
    <% if current_user.friends.empty? %>
      <%= "You currently have no friends" %>
    <% else %>
      <% current_user.friends.each do |friend| %>
        <%= friend.first_name%>
        <% end %>
    <% end %>
    </section>

  <section class="add_friends">
    <%= form_with(url: add_friends_path, method: "post", id: 'friends') do %>
      <%= label_tag(:email_id, "Add friend (email address):") %>
      <%= text_field_tag(:email_id) %>
      <%= submit_tag("Add Friend") %>
    <% end %>
  </section>

  <section class ="viewing_parties">
    <br><h3>Viewing Parties</h3>
    <% unless Invitee.parties_user_is_invited_to(current_user).empty? %>
      <h4>Parties you have been invited to:</h4>
      <% Invitee.parties_user_is_invited_to(current_user).each do |party| %>
        Movie: <%= party.movie_title %><br>
        When: <%= party.when %><br>
        Length: <%= party.length %> <br>
        <%= button_to "Add to Google Calendar", events_path(party) %>
      <% end %>
    <% end %>

    <% unless ViewParty.find_user_view_parties(current_user).empty? %>
    <h4>Your Viewing Parties</h4>
      <% ViewParty.find_user_view_parties(current_user).each do |party| %>
        Movie: <%= party.movie_title %><br>
        When: <%= party.when %><br>
        Length: <%= party.length %><br>
      <% end %>
    <% end %>
  </section>

<% else %>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>
