<h1>Covid Viewing</h1>

<section class="description">
  <p>Welcome to Covid Viewing! Your favorite site for finding your next covid watch party movie, and scheduling a time to watch it with all your friends!</p>
</section>
<%= render partial: "/partials/nav_bar" %>
<% if current_user %>
  <p>
    Welcome <%= "#{current_user.first_name} #{current_user.last_name}" %>
  </p>
<% else %>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>

<section class ="movies">
  <%= button_to "Discover Movies", discover_path, method: :get %>
</section>
<section class="add_friends">
  <%= form_with(url: add_friends_path, method: "post", id: 'friends') do %>
    <%= label_tag(:email_id, "Add friend (email address):") %>
    <%= text_field_tag(:email_id) %>
    <%= submit_tag("Add Friend") %>
  <% end %>
</section>
<section class ="viewing_parties">
  Parties You're Invited To:

</section>
